# Dependency directories
node_modules/
dist/

# Build output
build/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
debug/
logs/

# Environment variables
.env
.env.local
.env.*.local

# Compiled output
*.js
*.d.ts
*.map

# Testing files
coverage/

# Miscellaneous
.DS_Store
Thumbs.db

# Serverless directories
.serverless/
serverless.yaml